<template>
  <Layout :show-logo="false">
    <!-- Author intro -->
    <Author :show-title="true"/>

    <h1>Hey World</h1>

    <p>
      <a href="https://alfred.app/workflows/">An Alfred workflow</a> to Create, view and list your Hey World Blog.
    </p>
    <p>
      <a href="https://www.hey.com/">Hey email service</a> users have a <a href="https://www.hey.com/world/">blog space called World</a> that
      they can manage the same way as their e-mails.
    </p>
    <p>

      Tested with Alfred 5.
    </p>

    <h2>Requisites</h2>

    <ul>
      <li>you are an user of <a href="https://www.hey.com/">Hey email service</a></li>
      <li>you are logged in hey in your default browser</li>
    </ul>

    <h2>Variable Configurations</h2>
    <ul>
      <li><code>hey_username</code> — Your Hey username. For instance <code>foo.bar</code> if your email address is
        <code>foo.bar@hey.com</code>
      </li>
    </ul>
    <h2>Usage</h2>

    <ul>
      <li><code>hwn</code> — new blog post</li>
      <li><code>hwn</code>&nbsp;<code>My post subject</code> — new blog post with subject</li>
      <li><code>hwo</code> — your public Hey World Blog</li>
      <li><code>hwe</code> — your posts as a list you can edit</li>
      <li><code>hwse</code> — exports your subscribers list as a CSV file</li>
    </ul>


  </Layout>
</template>


<script>
import Author from '~/components/Author.vue'

export default {
  components: {
    Author,
  },
  metaInfo: {
    title: 'Alfred Hey World Workflow'
  }
}
</script>
