/** Inspiré par https://www.swyx.io/css-100-bytes */
html {
  max-width: 70ch;
  padding: 3rem 1rem;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25rem;
  font-family: system-ui;
}

h1, h2, h3, h4, h5, h6 {
  margin: 3rem 0 1rem;
}

p, ul, ol {
  margin-bottom: 2rem;
  color: #1d1d1d;
  font-family: sans-serif;
}

/* Numérotation des titres */
body {
  counter-reset: h2heading;
}

h2:before {
  content: counter(h2heading) ". ";
  counter-increment: h2heading;
}

h2 {
  counter-reset: h3heading;
}

h3:before {
  content: counter(h2heading) "." counter(h3heading) ". ";
  counter-increment: h3heading;
}

/* Table des matières */
nav.content-table ol {
  padding: 0;
  padding-inline-start: 2ch;
}

nav.content-table ul {
  list-style-type: none;
  padding-inline-start: 2ch;
}

/* Ancres pour les titres */
.anchor {
  text-decoration-line: none;
  font-size: 1rem;
}
.anchor::after{
 content: "🔗";
}
/* Adaptations pour mobile */
@media screen and (max-width: 480px) {

  html {
    padding-top: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0 1rem;
  }

}
