<template>
  <Layout>
    <div class="post-title">
      <h1 class="post-title__text">{{ $page.cheatSheet.title }}</h1>

      <PostMeta :post="$page.cheatSheet" />
    </div>

    <div class="post content-box">
      <div class="post__header">
        <g-image
          alt="Cover image"
          v-if="$page.cheatSheet.cover_image"
          :src="$page.cheatSheet.cover_image"
          height="240"
        />
      </div>

      <div class="post__content" v-html="$page.cheatSheet.content" />
    </div>

    <div class="post-comments">
      <!-- Add comment widgets here -->
    </div>

    <Author class="post-author" />
  </Layout>
</template>

<script>
import PostMeta from "~/components/PostMeta";
import PostTags from "~/components/PostTags";
import Author from "~/components/Author.vue";
export default {
  components: {
    Author,
    PostMeta,
    PostTags,
  },
  metaInfo() {
    return {
      title: this.$page.cheatSheet.title,
      meta: [
        {
          name: "description",
          content: this.$page.cheatSheet.description,
        },
      ],
    };
  },
};
</script>

<page-query>
query CheatSheet ($id: ID!) {
  cheatSheet: cheatSheet (id: $id) {
    title
    path
    date (format: "D. MMMM YYYY")
    timeToRead
    description
    content
    cover_image
  }
}
</page-query>

<style lang="scss">
.post-title {
  padding: calc(var(--space) / 2) 0 calc(var(--space) / 2);
  text-align: center;
}
.post {

    &__header {
      width: calc(100% + var(--space) * 2);
      margin-left: calc(var(--space) * -1);
      margin-top: calc(var(--space) * -1);
      margin-bottom: calc(var(--space) / 2);
      overflow: hidden;
      border-radius: var(--radius) var(--radius) 0 0;
      img {
        width: 100%;
      }
      &:empty {
        display: none;
      }
    }

  &__content {
    h2:first-child {
      margin-top: 0;
    }
    p:first-of-type {
      font-size: 1.2em;
      color: var(--title-color);
    }
    img {
      width: calc(100% + var(--space) * 2);
      margin-left: calc(var(--space) * -1);
      display: block;
      max-width: none;
    }
  }
}
.post-comments {
  padding: calc(var(--space) / 2);
  &:empty {
    display: none;
  }
}
.post-author {
  margin-top: calc(var(--space) / 2);
}
</style>