<template>
  <Layout :show-logo="false">
    <!-- Author intro -->
    <Author :show-title="true" />
    <h1>Consulting</h1>
    <div>
      <article>
        <h2>Réalisation de projet</h2>
        <h3>Méthodologie</h3>
        <h3>Livrables</h3>
        <h3>Contrat type</h3>
        <h3>Tarification</h3>
        <p>Au périmètre</p>
        <p>Délais soutenables</p>
      </article>
      <article>
        <h2>Régie</h2>
        <h3>Méthodologie</h3>
        <h3>Livrables</h3>
      </article>
      <article>
        <h2>Expertise</h2>
        <h3>Méthodologie</h3>
        <h3>Livrables</h3>
      </article>
      <article>
        <h2>Accompagnement</h2>
        <h3>Méthodologie</h3>
        <h3>Livrables</h3>
      </article>
      <article>
        <h2>Audit</h2>
        <h3>Méthodologie</h3>
        <h3>Livrables</h3>
      </article>
      <ul>
        <li>
          Immersion
          <ul>
            <li>Charte de confidentialité</li>
            <li>Sur vos machines: pair programming</li>
          </ul>
        </li>
      </ul>
    </div>
  </Layout>
</template>
<script>
import Author from "~/components/Author.vue";

export default {
  components: {
    Author,
  },
  metaInfo: {
    title: "Training",
  },
};
</script>
<style scoped>
body {
  counter-reset: h2counter;
}
h1 {
  counter-reset: h2counter;
}
h2:before {
  content: counter(h2counter) ".\0000a0\0000a0";
  counter-increment: h2counter;
  counter-reset: h3counter;
}
h3:before {
  content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
  counter-increment: h3counter;
}
</style>