<template>
  <Layout :show-logo="false">
    <!-- Author intro -->
    <Author :show-title="true" />
    
    <!-- List posts -->
    <div class="posts">
      <PostCard v-for="edge in $page.posts.edges" :key="edge.node.id" :post="edge.node"/>
    </div>
<!--
     <aside>
      <div>Rss feeds I follow</div>
      <RssFeed :feed="$static.rssRonJeffries"></RssFeed>
    </aside>
-->
  </Layout>
</template>

<page-query>
{
  posts: allPost {
    edges {
      node {
        id
        title
        path
        tags {
          id
          title
          path
        }
        date (format: "D. MMMM YYYY")
        timeToRead
        description
        published
        cover_image (width: 770, height: 380, blur: 10)
        ...on Post {
            id
            title
            path
        }
      }
    }
  }
}
</page-query>

<!--
<static-query>

query{
    rssRonJeffries: allRssRonJeffries(order: ASC){
        totalCount,
        edges{
            node{id,
            pubDate,
            feedMeta{
                feedUrl,
                title,
                description,
                pubDate,
                link,
                lastBuildDate},
            title,
            link,
            content,
            contentSnippet,
            guid,
            categories,
            isoDate,
            belongsTo{totalCount}
            },
        next{id},
        previous{id}
        }
    }
}

</static-query>
-->

<script>
import Author from '~/components/Author.vue'
import PostCard from '~/components/PostCard.vue'
import RssFeed from "~/components/RssFeed.vue";


export default {
  components: {
    Author,
    PostCard,
  /*  RssFeed*/
  },
  metaInfo: {
    title: 'Hello, world!'
  }
}
</script>
