<template>
  <div>
    <div>
      <a :href="rssMeta.link">{{rssMeta.title}}</a>
      - Last post : {{lastPostDate | dateFormatFilter}}
    </div>

    <ul>
      <li v-for="rssItem in rssFeed" :key="rssItem.guid">
        {{rssItem.node.pubDate | dateFormatFilter}} -
        <a
          :href="rssItem.node.link"
        >{{rssItem.node.title}}</a>
      </li>
    </ul>
  </div>
</template>
<script>
const isDate = function(date) {
  const timestamp = Date.parse(date);
  return !isNaN(timestamp);
};

const dateFormatFilter = function(value) {
  if (isDate(value)) return new Date(value);
  return value;
};

export default {
  filters: {
    dateFormatFilter(value) {
      if (isDate(value)) {
        const date = new Date(value);
        return (
          ("" + date.getDate()).padStart(2, "0") +
          "/" +
          ("" + (date.getMonth() + 1)).padStart(2, "0") +
          "/" +
          date.getFullYear()
        );
      }
      return value;
    }
  },
  props: ["feed"],
  computed: {
    rssFeed() {
      return this.feed.edges;
    },
    rssMeta() {
      if (this.rssFeed[0].node) {
        return this.rssFeed[0].node.feedMeta;
      }
      return {
        feedUrl: "",
        title: "",
        description: "",
        pubDate: "",
        link: "",
        lastBuildDate: ""
      };
    },
    lastPostDate() {
      if (this.rssFeed[0].node) {
        return this.rssFeed[0].node.pubDate;
      }
      return "";
    }
  }
};
</script>

<style lang="scss">
</style>