<template>
  <Layout :show-logo="false">
    <!-- Author intro -->
    <Author :show-title="true" />

    <!-- List posts -->
    <div class="posts">
      <PostCard v-for="edge in $page.cheatSheets.edges" :key="edge.node.id" :post="edge.node"/>
    </div>


  </Layout>
</template>

<page-query>
{
  cheatSheets: allCheatSheet {
    edges {
      node {
        id
        title
        path
        date (format: "D. MMMM YYYY")
        timeToRead
        description
        cover_image
        ...on CheatSheet {
            id
            title
            path
        }
      }
    }
  }
}
</page-query>

<script>
import Author from '~/components/Author.vue'
import PostCard from '~/components/PostCard.vue'


export default {
  components: {
    Author,
    PostCard,
  },
  metaInfo: {
    title: 'Hello, world!'
  }
}
</script>
