<template>
  <Layout :show-logo="false">
    <!-- Author intro -->
    <Author :show-title="true" />
    <h1>Formation</h1>
    <div>
      <ul>
        <li>Site statique <a href="https://www.lowtechmagazine.com/">low-tech</a> (<a href="https://lowtechlab.org/fr">1</a>,<a href="https://timothee.goguely.com">2</a>)
            <ul>
                <li></li>
            </ul>
        </li>
        <li>Eco-conception web (<a href="https://www.are.na/timothee-goguely/">1</a>)
        <li>Indépendant (<a href="https://miximum.fr">1</a>)</li>
        <li>Cloud souverain</li>
        <li>
          Self-hosting résilient
          <ul>
            <li>raspberry-pi cluster</li>
            <li>Recyclage des vielles machines</li>
          </ul>
        </li>
      </ul>
    </div>
  </Layout>
</template>
<script>
import Author from "~/components/Author.vue";

export default {
  components: {
    Author,
  },
  metaInfo: {
    title: "Training",
  },
};
</script>
<style scoped>
</style>